# 注释
*.log
*.iml
*.class
*.swp

# maven
target/
logs/
!.mvn/wrapper/maven-wrapper.jar


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
log/


.DS_Store
*/.DS_Store


# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
